@section Styles {
    <link rel="stylesheet" href="~/css/client/product.css" />
}

<section class="product-banner">
    <img src="/images/banner1.jpg" alt="">
</section>
<section class="product_container">
    <div class="product-header">
        <div class="product-title">
            <h2>Tất cả sản phẩm MOHO</h2>
        </div>
        <div class="product-filter">
            <select>
                <option>Danh mục</option>
                <option>Bàn</option>
                <option>Ghế văn phòng</option>
                <option>Tủ</option>
                <option>Giường</option>
            </select>
            <select>
                <option>Giá sản phẩm</option>
                <option>Dưới 1.000.000đ</option>
                <option>1.000.000đ - 5.000.000đ</option>
                <option>Trên 5.000.000đ</option>
            </select>
            <select>
                <option>Sắp xếp</option>
                <option>Sản phẩm nổi bật</option>
                <option>Giá thấp → cao</option>
                <option>Giá cao → thấp</option>
            </select>
        </div>
    </div>

    <div class="list_product">
        <div class="product_card">
            <div class="product_card_content">
                <a href="">
                    <img src="/images/product1.jpg" alt="craft" />
                    <p>Ghế Bắc Âu</p>
                </a>
                <h4>$65.00</h4>
            </div>
            <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
        </div>
        <div class="product_card">
            <div class="product_card_content">
                <a href="">
                    <img src="/images/product1.jpg" alt="craft" />
                    <p>Ghế Bắc Âu</p>
                </a>
                <h4>$65.00</h4>
            </div>
            <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
        </div>
        <div class="product_card">
            <div class="product_card_content">
                <a href="">
                    <img src="/images/product1.jpg" alt="craft" />
                    <p>Ghế Bắc Âu</p>
                </a>
                <h4>$65.00</h4>
            </div>
            <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
        </div>
        <div class="product_card">
            <div class="product_card_content">
                <a href="">
                    <img src="/images/product1.jpg" alt="craft" />
                    <p>Ghế Bắc Âu</p>
                </a>
                <h4>$65.00</h4>
            </div>
            <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
        </div>
        <div class="product_card">
            <div class="product_card_content">
                <a href="">
                    <img src="/images/product1.jpg" alt="craft" />
                    <p>Ghế Bắc Âu</p>
                </a>
                <h4>$65.00</h4>
            </div>
            <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
        </div>
        <div class="product_card">
            <div class="product_card_content">
                <a href="">
                    <img src="/images/product1.jpg" alt="craft" />
                    <p>Ghế Bắc Âu</p>
                </a>
                <h4>$65.00</h4>
            </div>
            <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
        </div>
        <div class="product_card">
            <div class="product_card_content">
                <a href="">
                    <img src="/images/product1.jpg" alt="craft" />
                    <p>Ghế Bắc Âu</p>
                </a>
                <h4>$65.00</h4>
            </div>
            <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
        </div>
    </div>
</section>