@section Styles {
    <link rel="stylesheet" href="~/css/admin/list.css" />
}

<div class="list_container">
    <div class="list_header">
        <div>
            <h2>Quản Lý Đánh Giá Sản Phẩm</h2>
            <span id="currentDate"></span>
        </div>
    </div>
    <div class="list_content">
        <div class="table_actions">
            <div class="search_box">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Tìm kiếm">
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã đánh giá</th>
                    <th>Tên khách hàng</th>
                    <th>Tên sản phẩm</th>
                    <th class="content_review">Nội dung</th>
                    <th>Ngày đăng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tuan Anh</td>
                    <td>Sản phẩm 1</td>
                    <td class="content_review">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi iste mollitia sequi.
                        Magnam cum quam nam, magni nulla, illo expedita et molestias, tempora reiciendis eos.
                        Illo pariatur provident fugiat ipsam?
                    </td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <i class='bx bxs-trash'></i>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tuan Anh</td>
                    <td>Sản phẩm 2</td>
                    <td class="content_review">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi iste mollitia sequi.
                        Magnam cum quam nam, magni nulla, illo expedita et molestias, tempora reiciendis eos.
                        Illo pariatur provident fugiat ipsam?
                    </td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <i class='bx bxs-trash'></i>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tuan Anh</td>
                    <td>Sản phẩm 3</td>
                    <td class="content_review">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi iste mollitia sequi.
                        Magnam cum quam nam, magni nulla, illo expedita et molestias, tempora reiciendis eos.
                        Illo pariatur provident fugiat ipsam?
                    </td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <i class='bx bxs-trash'></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>