@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/admin/login.css" asp-append-version="true" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <section class="admin_login_container">
        <div class="admin_overlay">
            <div class="admin_login_box">
                <div class="admin_header">
                    <h1>NovusHaus Admin</h1>
                    <p>Quản lý thế giới nội thất của bạn với sự tinh tế và chính xác.</p>
                </div>

                <form action="#" class="admin_form">
                    <div class="input_group">
                        <i class="bx bx-user"></i>
                        <input type="text" placeholder="Tên đăng nhập">
                    </div>

                    <div class="input_group">
                        <i class="bx bx-lock-alt"></i>
                        <input type="password" placeholder="Mật khẩu">
                    </div>

                    <button type="submit" class="admin_btn">Đăng nhập</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>