@section Styles {
    <link rel="stylesheet" href="~/css/admin/profile.css" />
}

<div class="profile_container">
    <div class="profile_header">
        <div>
            <h2>Thông Tin Cá Nhân</h2>
            <span id="currentDate"></span>
        </div>
    </div>
    <form action="">
        <div class="profile_card">
            <div class="profile_info">
                <img id="avatar" src="/images/user.png" alt="User Avatar">
                <input type="file" id="avatarInput" accept="image/*" style="display: none;">
                <div>
                    <h3>Musharof Chowdhury</h3>
                    <span>Admin</span>
                </div>
            </div>
            <button class="save_btn"><i class='bx bx-save'></i> Save</button>
        </div>
        <div class="info_card">
            <div class="card_header">
                <h3>Personal Information</h3>
            </div>
            <div class="info_grid">
                <div class="info_item">
                    <label>Username:</label>
                    <input type="text" value="Musharof" readonly>
                </div>
                <div class="info_item">
                    <label>Fullname:</label>
                    <input type="text" value="Chowdhury">
                </div>
                <div class="info_item">
                    <label>Email:</label>
                    <input type="email" value="randomuser@pimjo.com">
                </div>
                <div class="info_item">
                    <label>Phone:</label>
                    <input type="text" value="+09 363 398 46">
                </div>
                <div class="info_item">
                    <label>Role:</label>
                    <input type="text" value="Admin" readonly>
                </div>
                <div class="info_item">
                    <label>Date Updated:</label>
                    <input type="text" value="22/10/2025" readonly>
                </div>
            </div>
        </div>
    </form>
</div>