@section Styles {
    <link rel="stylesheet" href="~/css/client/about.css" />
}

<section class="choose_container" id="choose">
    <div class="choose_content">
        <h2 class="choose_header">Tại Sao Chọn Chúng Tôi</h2>
        <p class="choose_subheader">
            Trải nghiệm sự sáng tạo và chuyên môn vượt trội trong thiết kế nội thất.
            Khám phá lý do vì sao chúng tôi là lựa chọn hoàn hảo cho không gian mơ ước của bạn.
        </p>
        <div class="choose_grid">
            <div class="choose_card">
                <span><i class='bx bx-car'></i></span>
                <h4>Giao Hàng Nhanh & Miễn Phí</h4>
                <p>
                    Nâng tầm không gian sống của bạn với dịch vụ giao hàng nhanh chóng và miễn phí, không chậm trễ.
                </p>
            </div>
            <div class="choose_card">
                <span><i class='bx bx-shopping-bag'></i></span>
                <h4>Dễ Dàng Mua Sắm</h4>
                <p>
                    Trải nghiệm mua sắm nội thất tiện lợi, thanh lịch và dễ dàng hơn bao giờ hết.
                </p>
            </div>
            <div class="choose_card">
                <span><i class='bx bx-headphone'></i></span>
                <h4>Hỗ Trợ 24/7</h4>
                <p>
                    An tâm tuyệt đối với đội ngũ hỗ trợ tận tâm của chúng tôi, luôn sẵn sàng phục vụ bạn mọi lúc.
                </p>
            </div>
            <div class="choose_card">
                <span><i class='bx bx-refresh'></i></span>
                <h4>Đổi Trả Dễ Dàng</h4>
                <p>
                    Chúng tôi mong muốn bạn tìm được sản phẩm hoàn hảo — nếu không phù hợp, việc đổi trả cực kỳ đơn
                    giản.
                </p>
            </div>
        </div>
    </div>
    <div class="choose_image">
        <img src="/images/choose.jpg" alt="choose" />
    </div>
</section>