@section Styles {
    <link rel="stylesheet" href="~/css/client/homepage.css" />
}

<section class="section_container" id="home">
    <div class="section-title">
        <h1>Biến Không Gian Nội Thất Của Bạn Trở Nên Tối Giản & Hiện Đại Hơn</h1>
        <p>Hãy biến căn phòng của bạn trở nên tối giản và hiện đại hơn một cách dễ dàng và nhanh chóng</p>
        <form action="/">
            <input type="text" placeholder="Tìm kiếm nội thất" />
            <button><i class='bx bx-search'></i></button>
        </form>
    </div>
</section>

<section class="product_container" id="craft">
    <div class="product_content">
        <h2 class="product_header">Được Chế Tác Từ Chất Liệu Tuyệt Vời</h2>
        <p class="product_subheader">
            Nâng Tầm Không Gian Của Bạn Với Chất Lượng Và Phong Cách
        </p>
        <button class="explore-btn">Khám Phá</button>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
    <div class="product_card">
        <div class="product_card_content">
            <a href="">
                <img src="/images/product1.jpg" alt="craft" />
                <p>Ghế Bắc Âu</p>
            </a>
            <h4>$65.00</h4>
        </div>
        <a href="#" class="add_to_cart"><i class='bx bx-plus'></i></a>
    </div>
</section>

<section class="offer_container" id="offer">
    <div class="offer_grid_top">
        <img src="/images/offer-1.jpg" alt="offer" />
        <img src="/images/offer-2.jpg" alt="offer" />
        <img src="/images/offer-3.jpg" alt="offer" />
        <div class="offer_content">
            <h2 class="offer_header">Ưu Đãi Thông Minh</h2>
            <p class="offer_subheader">
                Khám phá các ưu đãi độc quyền để biến không gian của bạn trở nên phong cách hơn
            </p>
        </div>
    </div>
    <div class="offer_grid_bottom">
        <img src="/images/offer-4.jpg" alt="offer" />
        <img src="/images/offer-5.jpg" alt="offer" />
        <img src="/images/offer-6.jpg" alt="offer" />
        <img src="/images/offer-7.jpg" alt="offer" />
    </div>
</section>

<section class="blog_container" id="blog">
    <h2 class="blog_header">Bài viết gần đây</h2>
    <div class="blog_grid">
        <div class="blog_card">
            <img src="/images/blog-1.jpg" alt="blog" />
            <h4>Chinh Phục Phong Cách Tối Giản Hiện Đại</h4>
            <p><span>vào ngày</span> 18 Tháng 4, 2022</p>
        </div>
        <div class="blog_card">
            <img src="/images/blog-2.jpg" alt="blog" />
            <h4>Sự Kết Hợp Giữa Công Nghệ Và Thiết Kế</h4>
            <p><span>vào ngày</span> 10 Tháng 11, 2022</p>
        </div>
        <div class="blog_card">
            <img src="/images/blog-3.jpg" alt="blog" />
            <h4>Nội Thất Hiện Đại Thân Thiện Với Môi Trường</h4>
            <p><span>vào ngày</span> 25 Tháng 2, 2023</p>
        </div>
    </div>
</section>
