<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/client/layout.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>

<body>
    <header class="header">
        <nav>
            <div class="nav_logo"><a href="#">NovusHaus</a></div>
            <ul class="nav_links" id="nav-links">
                <li class="link"><a href="#">Trang Chủ</a></li>
                <li class="link"><a href="#">Sản phẩm</a></li>
                <li class="link"><a href="#">Bài viết</a></li>
                <li class="link"><a href="#">Giới thiệu</a></li>
                <li class="link"><a href="#">Liên hệ</a></li>
            </ul>

            <div class="nav_menu_btn" id="menu-btn">
                <span><i class='bx bx-menu'></i></span>
            </div>

            <div class="nav_actions">
                <span><i class='bx bx-cart'></i> </span>
                <span><i class='bx bx-user'></i></span>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_content">
                <h4>ĐĂNG KÝ ĐỂ NHẬN TIN TỨC MỚI NHẤT VỀ CHÚNG TÔI</h4>
                <p>
                    Chúng tôi khuyến nghị bạn đăng ký nhận bản tin của chúng tôi. Nhập email của bạn để
                    nhận các cập nhật hàng ngày về chúng tôi.
                </p>
            </div>
            <div class="footer_form">
                <form action="/">
                    <input type="text" placeholder="Nhập email của bạn" />
                    <button>Đăng ký</button>
                </form>
            </div>
        </div>
        <div class="footer_bar">
            <div class="footer_logo">
                <h4><a href="#">NovusHaus</a></h4>
                <p>Bản quyền © 2023 Web Design Mastery. Mọi quyền được bảo lưu.</p>
            </div>
            <ul class="footer_nav">
                <li class="footer_link"><a href="#">Sản phẩm</a></li>
                <li class="footer_link"><a href="#">Bài viết</a></li>
                <li class="footer_link"><a href="#">Giới thiệu</a></li>
                <li class="footer_link"><a href="#">Liên hệ</a></li>
            </ul>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="~/js/layout.js"></script>
</body>
</html>