@section Styles {
    <link rel="stylesheet" href="~/css/client/account.css" />
}

<section class="account_container">
    <div class="account_overlay">
        <div class="account_content">
            <div class="account_text">
                <h1>Quên mật khẩu của bạn?</h1>
                <p class="account_description">
                    Nhập địa chỉ email bạn đã đăng ký, chúng tôi sẽ gửi cho bạn một liên kết hoặc mã để đặt lại mật khẩu.
                </p>
            </div>

            <div class="account_form">
                <h2>Yêu cầu đặt lại mật khẩu</h2>
                <form action="#">
                    <input type="email" placeholder="Nhập email của bạn" required>
                    <button type="submit">Gửi mã đặt lại</button>

                    <div class="account_links">
                        <p>Nhớ mật khẩu rồi? <a href="" class="login_link">Đăng nhập</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>