@section Styles {
    <link rel="stylesheet" href="~/css/client/account.css" />
}

<section class="account_container">
    <div class="account_overlay">
        <div class="account_content">
            <div class="account_text">
                <h1>Đăng Nhập</h1>
                <p class="account_description">
                    Đăng nhập để thực hiện mua sản phẩm
                    và khám phá những sản phẩm nội thất được thiết kế riêng cho bạn.
                </p>
            </div>

            <div class="account_form">
                <h2>Đăng nhập tài khoản</h2>
                <form action="#">
                    <input type="text" placeholder="Tên đăng nhập" required>
                    <input type="password" placeholder="Mật khẩu" required>
                    <button type="submit">Đăng nhập</button>

                    <div class="account_links">
                        <a href="#" class="forgot_link">Quên mật khẩu?</a>
                        <p>Chưa có tài khoản? <a href="#" class="login_link">Đăng ký ngay</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>