@section Styles {
    <link rel="stylesheet" href="~/css/client/account.css" />
}

<section class="account_container">
    <div class="account_overlay">
        <div class="account_content">
            <div class="account_text">
                <h1>Tạo mật khẩu mới</h1>
                <p class="account_description">
                    Hãy chọn một mật khẩu mạnh và độc nhất để bảo vệ tài khoản của bạn.
                </p>
            </div>

            <div class="account_form">
                <h2>Đặt lại mật khẩu</h2>
                <form action="#">
                    <input type="password" placeholder="Mật khẩu mới" required>
                    <input type="password" placeholder="Xác nhận mật khẩu" required>
                    <button type="submit">Lưu mật khẩu mới</button>

                    <div class="account_links">
                        <p>Nhớ mật khẩu rồi? <a href="" class="login_link">Đăng nhập</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>