@section Styles {
    <link rel="stylesheet" href="~/css/admin/list.css" />
}

<div class="list_container">
    <div class="list_header">
        <div>
            <h2>Quản Lý Tài Khoản</h2>
            <span id="currentDate"></span>
        </div>
    </div>
    <div class="list_content">
        <div class="table_actions">
            <div class="search_box">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Tìm kiếm">
            </div>
            <a class="add" href="">Thêm Nhân Viên</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã nhân viên</th>
                    <th>Họ tên</th>
                    <th>Tên đăng nhập</th>
                    <th>Email</th>
                    <th>Chức vụ</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tuan Anh</td>
                    <td>ta123</td>
                    <td>ta123@gmail.com</td>
                    <td>Admin</td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <a href=""><i class='bx bx-edit'></i></a>
                        <a href=""><i class='bx bxs-trash'></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tuan Anh</td>
                    <td>ta123</td>
                    <td>ta123@gmail.com</td>
                    <td>Admin</td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <a href=""><i class='bx bx-edit'></i></a>
                        <a href=""><i class='bx bxs-trash'></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Tuan Anh</td>
                    <td>ta123</td>
                    <td>ta123@gmail.com</td>
                    <td>Admin</td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <a href=""><i class='bx bx-edit'></i></a>
                        <a href=""><i class='bx bxs-trash'></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Tuan Anh</td>
                    <td>ta123</td>
                    <td>ta123@gmail.com</td>
                    <td>Admin</td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <a href=""><i class='bx bx-edit'></i></a>
                        <a href=""><i class='bx bxs-trash'></i></i></a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Tuan Anh</td>
                    <td>ta123</td>
                    <td>ta123@gmail.com</td>
                    <td>Admin</td>
                    <td>22-05-2025</td>
                    <td class="action_icons">
                        <a href=""><i class='bx bx-edit'></i></a>
                        <a href=""><i class='bx bxs-trash'></i></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>